<div className="hero-container container col-xxl-8 px-4 py-5">
    <div className="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div className="col-10 col-sm-8 col-lg-6">
        <h1 className="hero-title display-5 fw-bold lh-1 mb-3">
        A New World of Payments <br />
        with Cryptocurrencies
        </h1>
        <div className="hero-description">
        <span>Buy, store, exchange & earn crypto.</span>
      <span>Join 10 million+ people using Brine Wallet.</span>
        </div>


        <div class="hero-action d-grid gap-2 d-md-flex justify-content-md-start">

          <input type="text" placeholder="Email address" />
      <button>Create Account</button>
        </div>
      </div>

      <div className="right-hero col-lg-6 ">
        <div className="hero-image">
          <img src="public\images\iPhone 11 Hero.png" alt="hero image" />
          {/* <img src="public\images\Ellipse 1.png" alt="hero image under" /> */}
        </div>
      </div>
    </div>
  </div>